body {
    background-image: linear-gradient(#07edf5, #e88e9b);
    text-align:center;
}
#anjikapatra{
    color: red;
}
#whataremyhobbies{
    color:black;
}
#hobbie1{
    color: blue;
}
#hobbie2{
    color: blue;
}
#hobbie3{
    color: blue;
}
#whenismydateofbirth{
    color: black;
}
#dob{
    color: blue;
}
#sibling{
    color: blue;
}
#Family{
    color: black;
}
#mother{
    color: blue;
}
#father{
    color: blue;
}
#singersbands{
   color: red; 
}
#favouritebands{
    color: black;
}
#BTS{
    color: blue;
}
#BLACKPINK{
    color:blue;
}
#Littlemix{
    color: blue;
}
#arianagrande{
    color: blue;
}
#dualipa{
    color: blue;
}
#shawnmendes{
    color: blue;
}
#iframe1{
   align-content: center; 
}
#a1{
   text-align: center; 
}